:root { 
    --color-black: rgb(17, 17, 22);     /*Preto*/  
    --color-green: rgb(13, 94, 13);       /*verde*/
    --color-gray: rgb(135, 134, 139);   /*cinza*/
  }
  
body {
    background-color: var(--color-black);
    margin: 0 auto;
    color: var(--color-green);
}

header {
    font: normal 20pt Arial;
    text-align: center;
}

section {
    font: normal 15pt Arial;
    background: var(--color-black);
    border-radius: 10px;
    padding: 15px;
    width: 980px;
    margin: auto;
    box-shadow: 15px 15px 10px rgba(11, 10, 13, 0.7);
}

section .meu-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.meu-avatar img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: inline-block;
}

.meu-avatar #foto {
    display: none;
    position: absolute;
    left: 10%;
}

.meu-avatar:hover #foto{
    display: inline;
}

.meu-avatar:hover #avatar {
    display: none;
}

section #apresentacao {
    padding: 10px;
}

section #icones {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.imagens-svg {
    width: 80px;
    height: 80px;
}

#twitter-icon {
    width: 62px;
    padding-left: 5px;
}

#github-icon {
    width: 67px;
    padding-left: 13px;
}

#devto-icon {
    width: 60px;
    padding-left: 15px;
}

#insta-icon {
    width: 68px;
    padding-left: 18px;
}

footer {
    padding: 10px;
    font: normal 10pt Arial;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
}
