body {
    background: #292929 url(img/random-grey-variations.png);
    margin: 0 auto;
}


header {
    background-color: #222;
    border-color: #080808;
    padding: 0 5px;
    border-top: 3px #3CA2A2 solid;
    border-bottom: 1px #000000 solid;    
    margin-bottom: 15px;
}


h1 {
    font-weight: bolder;
    font-size: 36pt;
    font-family: "Ubuntu", sans-serif;    
    text-align: center;
    color: #fff;

}


section {
    background-color: #39393a;
    box-shadow: 0 0 0 0, 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 20px;
    font-size: 16px;
    width: 980px;
    margin: auto;

}


section .meu-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}


.meu-avatar img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: inline-block;
}


section #apresentacao {
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    color: #52B54B;
    z-index: 1;
    border-width: 1px 0;
    border-color: #666666;
    border-style: solid;
    margin: 0 0 20px;
}


a {
    text-decoration: none;
    color: green;
}

footer {
    padding: 10px;
    font: normal 10pt Arial;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
}
